stages:
  - test
  - build
  - deploy

test-stage:
  stage: test
  tags:
    - python
  script:
    - apt install python3.12-venv -y
    - python3 -m venv ./venv
    - source ./venv/bin/activate
    - pip install -r requirements.txt
    - python3 -m unittest

build-stage:
  stage: build
  tags:
    - python
  rules:
  - if: $CI_COMMIT_BRANCH == "main"
  script:
      - apt install python3.12-venv -y
      - python3 -m venv ./venv
      - source ./venv/bin/activate
      - pip install -r requirements.txt
      - python3 -m build

deploy-stage:
  stage: deploy
  tags:
    - python
  rules:
    - if: $CI_COMMIT_BRANCH == "main"  
  script:
    - echo -e '[distutils]\nindex-servers =\n    thor\n\n[thor]\nrepository:http://thor.pypi\nusername:gitlabrunner\npassword:password' > ~/.pypirc
    - apt install python3.12-venv -y
    - python3 -m venv ./venv
    - source ./venv/bin/activate
    - pip install -r requirements.txt
    - python3 -m build
    - python3 -m twine upload --repository thor ./dist/*